:root {
  --primary-color: #dbcf5c;
}
.parallax {
  background-image: url('../img/olive-oil_1920.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 20vw;
}
  
html {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

section{
  padding: 1rem 2rem;
}